extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
            h1=title 
            h2 Your quintessential about me page.
          p Use this page to tell people all about you!

    section(class="main-content")
      h3 Use this space to tell the world about the great things you do.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id neque eget arcu placerat auctor sit amet vel neque. Pellentesque risus magna, fringilla tristique blandit quis, congue et mi. Vivamus id gravida nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ullamcorper dui sed turpis ullamcorper sit amet volutpat turpis adipiscing. Suspendisse non lacus non ipsum porta vehicula. Donec id quam vitae turpis ullamcorper cursus nec sed sapien. Sed non imperdiet odio. Praesent lacinia, enim quis imperdiet mollis, nulla mi mattis magna, id accumsan nibh enim et turpis. Donec ac vulputate felis. Integer vitae quam magna, ac cursus turpis. Mauris aliquet ultrices risus, sit amet pellentesque lacus fringilla eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ut metus sit amet quam mattis pulvinar sit amet a leo.
