extends layout

// woah!  I can use whack whack comments in jade
// also, more importantly, you can include things in the master page
block head
    link(rel='stylesheet', href='/stylesheets/chat.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/chat.js')

block content
    section(class="main-content")
      h1= title

      #chat

      div
        input(type="text", id="message")
        input(type="button", value="send", id="send")

  
