
section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
          h1=title 
          h2 Modify this template to jump-start your Node.JS Express application
      p To learn more about node.js, visit <a href="http://nodejs.org" title="node.js Website">http://nodejs.org/</a>. The page features <span class="highlight">videos, tutorials, and samples</span> to help you get the most from node.js. If you have any questions about node.js, visit <a href="https://github.com/joyent/node" title="node.js github">github</a>.

section(class="main-content")
  h3 We suggest the following:
  ol(class="round")
      li(class="one")
          h5 Try this out on a mobile device
          p
           |This template supports various template options for viewing on mobile devices.
      li(class="two")
          h5 Add NPM packages and jump start your coding
          p NPM makes it easy to install and update free libraries in WebMatrix. To install a package, go to the Files workspace and click the NPM button in the ribbon.
      li(class="three")
          h5 Setup deployment to your web server
          p
            Use FTP or Microsoft Web Deploy to quickly and easily publish your application to a web server. Just click the Publish button in the ribbon and enter your credentials. For even easier deployment, you can import publish settings that you get from your hosting provider.
  section(class="features")
      section(class="feature")
          img(src="/images/aspNetHome.png", alt="")
          h3 Built it with express
          p 
            |Express is a Sinatra inspired web development framework for node.js -- insanely fast, flexible, and simple.  For more information, visit 
            a(href="http://expressjs.com/") expressjs.org
            |.
          
      section(class="feature")
          img(src="/images/npm.png", alt="")
          h3 NPM Gallery
          p 
            |NPM is a WebMatrix extension that makes it easy to install and update libraries. Visit
            a(href="http://npmjs.org") npmjs.org
            |for more information.

      section(class="feature")
          img(src="/images/findHosting.png", alt="")
          h3 Host it on Azure
          p You can easily find a web hosting company that offers the right mix of features and price for your applications. Visit <a href="http://microsoft.com/web/hosting" title="Microsoft/Web Website">Microsoft.com/web</a> to explore offerings from many providers.