!!!
html
  head
    title= title
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets

    // include default scripts and any view scripts
    script(src='/javascripts/jquery-1.7.min.js')
    block javascripts
  body
    #top
      a(href="/") sign in
    header
      nav
        #logo &lt;WM/&gt;
        ul
          li 
            a(href="/") Home
          li 
            a(href="/chat") Chat
          li 
            a(href="/about") About
    section#container!= body
    
    footer
      #content thanks for coming to the show
    
    #bottom
      