section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
        h1=title         
      p We are really quite sorry.  We can't find the page you were looking for.

section(class="main-content")
  h3 We are so sorry!  
  p We can't seem to find the page you are looking for.  
