!!! 5
html
  head
    title= title
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href='/stylesheets/style_mobile.css')
    link(rel='stylesheet', href='/jquery-mobile/jquery.mobile-1.0rc3.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets

    // include default scripts and any view scripts
    script(src='/javascripts/jquery-1.7.min.js')
    script(src='/jquery-mobile/jquery.mobile-1.0rc3.min.js')

    block javascripts

    meta(name="viewport", content="width=device-width, initial-scale=1") 
  body
    div(data-role="page")
      div(data-role="header")
        // if you want to use a header in your jquery mobile template, uncomment the next two lines
        // a(href="/", data-icon="home", data-iconpos="notext", data-direction="reverse", class="ui-btn-left jqm-home") Home
        // h1 &lt;WebMatrix/&gt; 
        nav
          ul#menu
            li 
              a(href="/") Home | 
            li 
              a(href="/chat") Chat | 
            li
              a(href="/about") About
      div(data-role="content")!= body
      div(data-role="footer")
        div(class="content-wrapper")
          div(class="float-left")
            p &copy; !{(new Date()).getFullYear()}
          div(class="float-right")
            ul#social
              li
                a(href="http://facebook.com", class="facebook") Facebook
                a(href="http://twitter.com", class="twitter") Twitter