content-width = 1024px

body 
  background-color: #EEEEEE
  margin: 0px
  padding: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #666


#top
  width: content-width
  margin-right: auto
  margin-left: auto
  text-align: right

header
  width: 100%
  height: 50px
  boder: 1px solid #000
  background-color: #444
  > nav
    width: content-width
    margin-right: auto
    margin-left: auto
    > #logo
      float:left
      color: #fff
      font-weight: bold
      font-size: 2em
      margin-top: 5px
    > ul 
      color: #EEE
      list-style: none
      > li
        height: 50px
        float: left
        display: inline
        padding: 0px 20px 0px 20px
        font-weight: bold
        &:hover
          background-color: #000
          cursor: pointer
        > a
          float: left
          margin-top: 15px
          color: #fff
          text-decoration: none

#container
  clear: both
  width: content-width
  margin-right: auto
  margin-left: auto
  margin-bottom: 25px


footer
  width: 100%
  padding: 10px 0px 10px 0px
  boder: 1px solid #000
  background-color: #CCC
  margin-bottom: 25px
  > #content
    width: content-width
    font-size: 0.8em
    font-style: italic
    color: #666
    margin-right: auto
    margin-left: auto
