#chat {
  border: 1px solid #999;
  background-color: #ddd;
  overflow: auto;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
}
.user-me {
  font-weight: bold;
  color: #f00;
}
.user {
  font-weight: bold;
  color: #00f;
}
.system {
  color: #999;
  font-style: italic;
}
